{% extends "base.html" %}
{% block title %}Список директорий, подозреваемых на наличие томографических данных {% endblock %}
{% block body %}
<div class="container">
    <h2>В этих директориях возможно есть томографические данные:</h2>
    <p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Название</th>
                <th>Путь к данным</th>
                <th>Информация об объекте</th>
                <th>Восстановлен?</th>
                <th>Теги</th>
            </tr>
        </thead>
        <tbody>
            {% for to in tomo_objects %}
                    <tr>
                        <td nowrap>{{to['config']['description']['date']['start'] }}</td>
                        <td>{{ to['config']['description']['sample'] }}</td>
                        <td>{{to['data_dir']}}
                        <td>
                            <a href="{{ url_for('tomo_info',tomo_object_id=to['id']) }}">
                                {{ to['status'][-1]['message'] }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('tomo_process',tomo_object_id=to['id']) }}">
                                {{ 'Да' if to.is_reconstructed() else 'Нет'}}
                            </a>
                        </td>
                    <td>
                        {{ ', '.join(to['config']['description']['tags']) }}
                    </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}